<ul>
    <li>Autor: {{ article.Title }}</li>
    <li>Autor: {{ article.Content }}</li>
    <li>Autor: {{ article.Autor }}</li>
</ul>
{{ form(form) }}

<a href = "/article-list">Revenir à la liste des articles</a>
</div>